.style-header-3uk0i {
  position: static;

  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.style-nav-715bj {
  position: relative;

  display: flex;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  object-fit: fill;
}

.style-div-hefrq {
  position: static;

  display: block;
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.style-div-bv5i0 {
  position: static;

  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.style-div-foon9 {
  display: block;
  width: auto;
  height: auto;
}

.style-img-v2zzu {
  display: inline-block;
  width: auto;
  height: auto;
}

.style-div-yf7p1 {
  display: block;
}

.style-div-e98n2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
}

.style-a-npp64 {
  color: #2C2C2C;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: bold;
}

.style-a-b4dsr {
  color: #2C2C2C;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: bold;
}

.style-a-79t9n {
  color: #2C2C2C;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: bold;
}

.style-div-fy8f6 {
  display: block;
  justify-content: flex-end;
}

.style-a-fmf5x {
  color: #2C2C2C;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: bold;
}