---
import Layout from '../layouts/Layout.astro';
import { Contributors } from '../components/Contributors';
---

<Layout title="Contributors">
  <div class="container py-6">
    <Contributors client:load />
  </div>
</Layout>
